{% extends 'layout.html' %}
{% block title %}Fast | Opps!!!{% endblock title %}

{% block content %}
<div class="d-flex justify-content-center pt-5">
    <div class="card mt-5" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Error!!!</h5>
            <p class="card-text">La pagina no existe...</p>
            <button id="btn-home" class="btn btn-primary">Regresar a inicio...</button>
        </div>
    </div>
</div>

{% endblock %}