{% extends 'layout.html' %}
{% block title %}Fast | Contacts{% endblock title %}

{% block content %}
<div class="row text-light">
    <div class="col-md-4">
        {% if fullname == '' %}
        <form action="/add_contact" method="post" class="mt-4" autocomplete="off">
            <h2 class="fs-2">Registro</h2>
        {% else %}
        <form action="/edit_contact/{{ id }}" method="post" class="mt-4" autocomplete="off">
            <h2 class="fs-2">Actualizar</h2>
        {% endif %}
            <div class="">
                <label class="form-label">Nombre completo</label>
                <input type="text" class="form-control" placeholder="Nombre completo..."
                    name="fullname" value="{{ fullname }}" required>
            </div>
            <div class="">
                <label class="form-label">Telefono</label>
                <input type="text" class="form-control" placeholder="Ingrese telefono..."
                    name="phone" value="{{ phone }}" required>
            </div>
            <div class="">
                <label class="form-label">Correo</label>
                <input type="email" class="form-control" placeholder="Ingrese correo..."
                    name="email" value="{{ email }}" required>
            </div>
            <div class="mt-3 d-grid gap-2">
                {% if fullname == '' %}
                <button class="btn btn-success"> Registrar </button>    
                {% else %}
                <button class="btn btn-success"> Editar </button>
                {% endif %}
            </div>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success mt-5 alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="col-md-8">
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Nombre completo</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                <tr>
                    <td scope="row">{{ contact.1|upper }}</td>
                    <td>{{ contact.2 }}</td>
                    <td>{{ contact.3|upper }}</td>
                    <td>
                        <a href="/{{ contact.0 }}" class="btn btn-warning">Editar</a>
                        <a href="/delete_contact/{{ contact.0 }}" id="btn-delete" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}